<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Dates | Dashboard</title>
  <link rel="icon" type="image/x-icon" href="favicon-16x16.png">
  <link rel="stylesheet" href="root.css">
  <link rel="stylesheet" href="dashboard.css">
</head>

<body>
  <div class="container">
    <div class="inner-container">
      <div class="menu">
        <h3 class="logo">BEST DATES</h3>
        <p class="name">My Name</p>
        <a class="edit">Edit my profile</a>
        <button class="logout-button" type="submit">Logout</button>
      </div>
      <div class="app">
        <div class="userlist">
        </div>
      </div>
    </div>
  </div>

  <script src="dashboard.js"></script>
</body>

</html>